
.handlebacktop
{
    background-color: #485769;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    span{
        color: white;
        text-decoration: none;
        font-size: 14px;
        
    }
}

.handlebacktop:hover{
    background-color: #3f4c5c;
}