.handlemain{
   
    width: 80%;
    height: 70px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    h4{
        font-size: 20px;
    }
}

.handlehover:hover{
background-color: #be3946 !important;
}
.handlehover{
 
    font-weight: bold;
}


.handleimg{

width: 100%;

margin-left: 10px;
}
.handleimgparent{
width: 7%;
}

.backtohandle{
  
  
        
        i{
            font-size: 9px;
            color: gray;
        }
        a{
            font-size: 12px;
            color: black;
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
            
        }
    }

    .btnhandle{
        
        border-radius: 5px;
       
        border: 0;
        padding: 10px;
        font-weight: bold;
        width: 120px;
    }
    .btn1:hover{
        background-color:#FFD814 ;
        color: white;
    }
    .btn2:hover{
        background-color:#17be4a ;
        color: white;
    }

    .btn1{
        outline: #FFD814 solid 2px;
    }

    .btn2{
        outline: #17be4a solid 2px;
    }